@import "rehype-callouts/theme/obsidian";
@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
    @apply bg-white text-black dark:bg-black dark:text-white;
}

@utility link {
    @apply underline transition-all duration-75 decoration-sky-500 decoration-1 hover:decoration-2;
}

.prose {
    @variant prose-code {
        &:not(pre code) {
            @apply px-1 py-0.5 rounded-sm before:content-none after:content-none;
            background-color: var(--tw-prose-pre-bg);
            color: var(--tw-prose-pre-code);
            overflow-wrap: break-word;
        }
    }

    @variant prose-a {
        @apply link;
    }

    @variant prose-headings {
        & .icon-link {
            @apply before:content-["#"] mr-2 opacity-60;
        }
    }
}

pre[class*="language-"] {
    background-color: var(--tw-prose-pre-bg);
}

/* Temporary until https://github.com/lin-stephanie/rehype-callouts/pull/32 is merged */
@media (prefers-color-scheme: dark) {
    .callout {
        mix-blend-mode: lighten;
        background-color: rgb(from var(--rc-color-dark, var(--rc-color-default)) r g b / 0.1);
    }
    .callout-title {
        color: var(--rc-color-dark, var(--rc-color-default));
    }
}
