@import "rehype-callouts/theme/obsidian";
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer base {
    :root {
        @apply bg-neutral-300 text-black dark:bg-black dark:text-white;
    }
}

@utility link {
    @apply underline transition-all duration-75 decoration-sky-500 decoration-1 hover:decoration-2;
}

/* Tailwind applies filters in the wrong order. */
/* This utility also fixes https://bugs.webkit.org/show_bug.cgi?id=199134 */
@utility filter-monochrome {
    filter: invert(0.5) brightness(0);

    @media (prefers-color-scheme: dark) {
        filter: invert(0.5) brightness(2);
    }
}

/* Fix for Safari not supporting media queries in SVGs. */
/* https://bugs.webkit.org/show_bug.cgi?id=199134 */
@utility fix-safari-monochrome-svg {
    @supports (hanging-punctuation: first) and (font: -apple-system-body) and (-webkit-appearance: none) {
        @media (prefers-color-scheme: dark) {
            --brightness: 2;
        }
        --brightness: 0;
    }
}

.prose {
    img {
        @apply rounded-md;
    }

    @variant prose-code {
        &:not(pre code) {
            @apply px-1 py-0.5 rounded-sm before:content-none after:content-none;
            background-color: var(--tw-prose-pre-bg);
            color: var(--tw-prose-pre-code);
            overflow-wrap: break-word;
        }
    }

    @variant prose-a {
        @apply link;
    }

    @variant prose-headings {
        & .icon-link {
            @apply before:content-["#"] mr-2 opacity-60;
        }
    }
}

pre[class*="language-"] {
    background-color: var(--tw-prose-pre-bg);
}

.callout {
    @apply rounded-md;
}

aside.toc {
    --toc-li-border-radius: var(--radius-md);
    --toc-active-border-radius: var(--toc-li-border-radius);
    --toc-li-color: rgb(from var(--tw-prose-body) r g b / 0.8);
    --toc-li-hover-color: var(--toc-li-color);
    --toc-active-color: var(--toc-li-color);
    --toc-active-bg: color-mix(in oklab, var(--color-neutral-300) 40%, transparent);
    @apply font-sans text-base;

    @media (prefers-color-scheme: dark) {
        --toc-active-bg: color-mix(in oklab, var(--color-neutral-700) 40%, transparent);
    }

    /* Sidebar-style TOC styles. */
    @variant xl {
        --toc-li-color: rgb(from var(--tw-prose-links) r g b / 0.4);
        --toc-active-color: var(--tw-prose-links);
        --toc-active-bg: transparent;
        @apply text-lg;
    }
}

aside.toc > nav {
    @apply p-1 xl:p-2;
}

aside.toc > nav > h2 {
    color: var(--tw-prose-headings);
    @apply pb-1 mb-2 border-b font-semibold text-2xl;

    @variant xl {
        color: rgb(from var(--tw-prose-headings) r g b / 0.6);
    }
}

aside.toc > nav > ol > li {
    font: var(--toc-font) !important;
    @apply hover:bg-neutral-300/40 dark:hover:bg-neutral-700/40 transition line-clamp-1;
}

/* Disable mobile view for table of contents. */
aside.toc.mobile {
    @apply hidden;
}
