@import url("https://cdnjs.cloudflare.com/ajax/libs/prism-themes/1.9.0/prism-night-owl.min.css");
@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
    @apply bg-white text-black dark:bg-black dark:text-white;
}

@utility link {
    @apply underline transition-all duration-75 decoration-sky-500 decoration-1 hover:decoration-2;
}

.prose {
    @variant prose-code {
        &:not(pre code) {
            @apply px-1 py-0.5 rounded-sm before:content-none after:content-none;
            background-color: var(--tw-prose-pre-bg);
            color: var(--tw-prose-pre-code);
            overflow-wrap: break-word;
        }
    }

    @variant prose-a {
        @apply link;
    }
}

pre[class*="language-"] {
    background-color: var(--tw-prose-pre-bg);
}
